body{
    background-color: rgb(78, 78, 78);
    background-image: url('../img/dark-pier.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.head-txt{
    text-align: center; 
    top: 100em;
    transform: translate(0,80%);
    font-size: 55px;
    font-family: 'H', 'Trebuchet MS', Helvetica;
    font-weight: 500;
}