body{
    margin: 0px;
}

@media only screen and (max-width: 1000px){
    .sidebar{
        display: none;
    }
    .arrow{
        display: flex;
    }
}
@media only screen and (min-width: 1001px){
    .sidebar{
        display: block !important;
    }
    .arrow{
        display: none;
    }
}

.sidebar{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(206, 68, 32);
    height: 94.6vh;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
.active{
    background-color: rgb(245, 99, 54);
}

.sidebar a:hover:NOT(.active){
    background-color: rgb(163, 58, 33);
}

.arrow{
    position: fixed;
    height: 100vh;
    flex-flow: column;
    justify-content: center;
}
.btnArrow{
    background: none;
    border: none;
    outline: none;
}
.sideArrow{
    color: rgb(206,68,32);
    margin-left: 2vw;
    font-size: 2.5em;
}