* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}

.navbar{
    z-index: 99;
    position: fixed;
    display: block;
    background-color: rgba(37, 37, 37, 0.849);
    text-align: center;
    width: 100%;
    padding: 8px;
}
.navbar-link{
    padding: 10px;
    color: white;
    font-size: 20px;
}
.navbar-link:hover{
    color: lightskyblue;
}

#home{
    background-image: url('./img/ocean_dock.jpg');
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    height: 100%;
}
.welcome-txt{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: 50px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

#intro{
    background-image: url('./img/stone_ground.jpg');
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.intro-head{
    padding: 50px;
    font-size: 60px;
}
.intro-txt{
    position: absolute;
    color: rgb(226, 0, 105);
    top: 150%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-80%);
    font-size: 42px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    background-color: rgba(109, 109, 109, 0.28);
}
.intro-table-head, .social-table-head{
    color: rgb(114, 189, 16);
    font-size: 20px;
    text-align: center;
}
.intro-table{
    background-color: rgba(109, 109, 109, 0.493);
    color: rgb(231, 231, 231);
    border: 2px solid;
    border-radius: 1.5px;
    border-color: rgb(65, 65, 65);
    padding: 3px;
    position: absolute;
    top: 130%;
    left: 50px;
    width: 300px;
}
.social-table{
    background-color: rgba(109, 109, 109, 0.693);
    color: rgb(231, 231, 231);
    border: 2px solid;
    border-radius: 1.5px;
    border-color: rgb(155, 155, 155);
    padding: 3px;
    position: absolute;
    top: 110%;
    right: 8%;
    width: auto;
}
.fa-discord{
    padding: 10px;
    color: rgb(62, 60, 153);
    text-decoration: none;
}
.fa-instagram{
    padding-left: 3px;
    padding-right: 3px;
    color: rgb(255, 255, 255);
    lala: linear-gradient(#405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    border-radius: 5px;
    text-decoration: none;
}
.fa-spotify{
    padding: 10px;
    color: rgb(54, 207, 54);
    text-decoration: none;
}
.fa-twitch{
    padding: 10px;
    color: rgb(138, 62, 209);
    text-decoration: none;
}
.fa-github{
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#comming{
    background-color: #333;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.comming-txt{
    position: absolute;
    color: white;
    top: 250%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    font-size: 38px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

#impressum{
    background-attachment: fixed;
    top: 350%;
    width: 100%;
    height: 100%;

}
.impressum-txt{
    padding: 10px;
    margin-top: 20px;
    font-size: smaller;
}
.dat-txt{
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: auto;
    font-size: smaller;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}
