body{
    background-color: rgb(78, 78, 78);
    background-image: url('../img/dark-pier.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar-me{
    background-color: #333;
    list-style-type: none;
    overflow: hidden;
    -display: flex;
    -flex-flow: row;
    -justify-content: flex-start;
}
.nav-a{
    float: left;
    display: inline;
    color: white;
    text-align: center center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-a:hover{
    background-color: #111;
    color: white;
    text-decoration: none;
}

.logDat{
    float: right;
    color: rgba(141, 134, 134, 0.7);
    padding: 3px;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid;
    border-color: rgba(148, 92, 92, 1);
    background-color: rgba(148, 92, 92, 0);
}
.logout{
    float: right;
    margin: 5px;
}

.head-txt{
    text-align: center; 
    top: 100em;
    transform: translate(0,80%);
    font-size: 55px;
    font-family: 'H', 'Trebuchet MS', Helvetica;
    font-weight: 500;
}