body{
    background-color: rgb(18, 63, 118);
    background-image: url("../../img/landscape-dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.head-txt{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 2vh;

    color: rgb(211, 177, 177);
    font-size: 42px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.table {
    display: inline-block;
    overflow: hidden;
    overflow-y: scroll;
    text-align: center;
    background-color: rgba(211, 127, 127, 0.4);
    border-collapse: collapse;
    border: 1.5px solid white;
}
@media only screen and (min-width: 1100px){
    .table{
        width: auto;
    }
}

.table::-webkit-scrollbar {
    display: none;
}

.table-head {
    background-color: rgba(141, 66, 66, 0.6);
}

.table-d {
    margin-top: 3vh;
    display: flex;
    flex-flow: row;
    justify-content: center;
    max-height: 70%;
}




@media
only screen
and (max-width: 1100px), (min-device-width: 768px)
and (max-device-width: 1100px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
        background-color: rgba(104, 104, 104, 0.6);
    }

    tr:nth-child(odd) {
        background: rgba(201, 201, 201, 0.6);
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
    */
    td:nth-of-type(1):before { content: "At"; }
    td:nth-of-type(2):before { content: "City"; }
    td:nth-of-type(3):before { content: "State"; }
    td:nth-of-type(4):before { content: "Country"; }
    td:nth-of-type(5):before { content: "Coordinates"; }
    td:nth-of-type(6):before { content: "Provider"; }
    td:nth-of-type(7):before { content: "Postcode"; }
    td:nth-of-type(8):before { content: "Time Zone"; }
}