body{
    background-color: rgb(18, 63, 118);
    background-image: url("../../img/landscape-dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.head-txt{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 2vh;

    color: rgb(211, 177, 177);
    font-size: 42px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.table {
    display: inline-block;
    overflow: hidden;
    overflow-y: scroll;
    width: auto;
    text-align: center;
    background-color: rgba(211, 127, 127, 0.4);
    border-collapse: collapse;
    border: 1.5px solid white;
}
.table::-webkit-scrollbar {
    display: none;
}
.table-head{
    background-color: rgba(141, 66, 66, 0.6);
}
.table-d{
    margin-top: 3vh;
    display: flex;
    flex-flow: row;
    justify-content: center;
    max-height: 70%;
}