body{
    background-image: url("../../img/landscape-dark.jpg");
    width: 100%;
    height: 100%;
}

.logout{
    float: right;
    margin: 15px;
}

.head-txt{
    position: absolute;
    color: rgb(211, 177, 177);
    top: 10%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-80%);
    font-size: 42px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}